.wrapper{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    
}

.inputWrapper{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.inp{
    width: 100%;
    margin-right: 10px;
    font-size: 25px;
    padding: 10px;
    border-radius: 2px;
    outline: 0;
    border: 0;
    background: rgb(243, 243, 243);
}

.addBtn{
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    background-color: rgb(155, 255, 155);
    color: rgb(48, 150, 0);
}


.listItem{
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 8px;
    background: rgb(243, 243, 243);
    padding: 20px 10px;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    overflow-wrap: anywhere;
}

#list{
    margin-top: 20px;
}

.done{
    background-color: rgb(211, 211, 211);
}